*:focus {
  box-shadow: 10px 10px 10px #ff387a !important;
  border: 5px solid #990033 !important;
}

html {
  scroll-behavior: smooth;
}

main {
  gap: 15px;
}

.formulaire {
  width: 700px;
  height: 700px;
  padding: 30px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color-darker);
  color: var(--secondary-color);
  border-radius: 25px;
}

.partie-formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

textarea {
  width: 500px;
  height: 200px;
  max-width: 500px;
  max-height: 200px;
  padding: 10px;
}

.bouton-envoyer {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  border: 2px solid transparent;
  background-color: var(--secondary-color);
  color: var(--secondary-color-darker);
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s all;
}

.contenu {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 280px;
  padding: 30px;
  margin: 30px;
  /* border: 3px solid var(--secondary-color-darker);
  border-radius: 15px; */
}

.coordonnees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
  margin: 15px;
  /* background-color: var(--neutral-color); */
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 25px;
}

.coordonnees a {
  color: var(--primary-color);
}

.coordonnees h3 {
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

#success-message {
  display: none;
  height: 600px;
  color: var(--primary-color);
  font-size: 40px;
  font-weight: bold;
}

input[type="checkbox"]:checked ~ .formulaire {
  display: none;
}

input[type="checkbox"]:checked ~ #success-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteneur {
  width: 700px;
}

input {
  padding: 10px;
}

label {
  cursor: pointer;
}

/* RESPONSIVE MOBILE */

@media only screen and (min-width: 320px) and (max-width: 426px) {
  .contenu {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .formulaire {
    width: 95%;
    height: auto;
    text-align: center;
  }

  .conteneur {
    width: 100%;
  }

  textarea {
    width: 90%;
    height: auto;
    max-width: 90%;
    max-height: auto;
  }

  label.bouton {
    width: auto;
    padding: 8px;
    font-size: 13px;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .formulaire {
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color-dark-mode);
  }

  .formulaire h3,
  p {
    color: var(--primary-color);
  }

  .coordonnees {
    border: 2px solid var(--neutral-color);
  }

  .coordonnees p {
    color: var(--neutral-color);
  }

  .coordonnees a {
    color: var(--neutral-color);
  }

  input,
  textarea {
    background-color: var(--secondary-color-darker);
    color: var(--neutral-color);
  }

  #success-message {
    color: var(--neutral-color);
    height: auto;
    text-align: center;
  }
}
