*:focus {
  box-shadow: 10px 10px 10px #ff387a !important;
  border: 5px solid #990033 !important;
}

html {
  scroll-behavior: smooth;
}

main {
  gap: 40px;
}

.titre-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.titre-description p {
  color: var(--primary-color);
  font-size: 20px;
}

.cards-ligne {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  /* border: 3px dashed red; */
}

.modele-1 {
  background-image: url(henna-final-phase.jpg);
}

.modele-2 {
  background-image: url(henna-model-2.jpg);
}

.modele-3 {
  background-image: url(henna-model-3.jpg);
}

.modele-4 {
  background-image: url(henna-model-4.jpg);
}

.modele-5 {
  background-image: url(henna-model-5.jpg);
}

.modele-6 {
  background-image: url(henna-model-6.jpg);
}

.modele-7 {
  background-image: url(henna-model-7.jpg);
}

.modele-8 {
  background-image: url(henna-model-8.jpg);
}

.modele-9 {
  background-image: url(henna-model-9.jpg);
}

.modal-toggle {
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 20px auto;
}

.modal-toggle:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal {
  width: 800px;
  margin: 75px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  border: 1px solid #444444;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}

.modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  text-decoration: none;
  color: #444444;
}

.modal .content {
  max-height: 600px;
  overflow: auto;
}

.modal-image {
  width: 400px;
  height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 426px) {
  main {
    gap: 0;
  }

  .titre-description p {
    font-size: 16px;
    text-align: center;
  }

  .cards-ligne {
    width: 90%;
    flex-direction: column;
    padding: 15px;
  }

  .cards-ligne-milieu {
    width: 90%;
  }

  .modal-toggle {
    width: 100%;
  }

  .modal {
    width: 90%;
  }

  .modal-image {
    width: 90%;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .titre-description {
    border-top: 2px solid var(--neutral-color);
    border-bottom: 2px solid var(--neutral-color);
  }

  h2 {
    color: var(-accent-color);
  }
  .titre-description p {
    color: var(--neutral-color);
  }

  .modal {
    background-color: var(--secondary-color-dark-mode);
  }

  .modal .close {
    color: var(--primary-color);
  }

  .modal-toggle {
    box-shadow: rgb(122, 122, 122) 0px 20px 30px -10px;
  }
}
